sublime2/User/Package\ Control.sublime-settings
sublime2/User/Package Control.last-run
git/gitconfig.symlink
### /home/jnes/.gitignore-boilerplates/Haskell.gitignore

dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
.virthualenv


